/* Mobile - width 425px */
@media screen and (min-width: 1px) and (max-width: 600px) {
  /* ----------------------------- PAGE 1 ------------------------- */
  .header-menu {
    position: absolute;
    padding: 0.1em;
    display: inline-block;
    right: 10px;
    font-size: 2.5em;
    padding-right: 3%;
    color: rgba(255, 255, 255, 0.7);
    cursor: s-resize;
  }
  nav {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    /* Optionally, we animate the drawer. */
    transition: transform 0.6s ease;
    background: rgba(0, 0, 0, 0.9);
  }
  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  nav li {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
    padding: 12% 0 12% 0;
  }
  nav li:hover {
    color: rgb(0, 247, 255);
  }
  .home-head {
    order: 0;
    width: 100%;
  }
  .intro-text h1 {
    font-size: 3em;
    margin: 0 0 0 0;
  }
  .intro-text h2 {
    font-size: 1.2em;
    margin: -3% 0 0 2%;
  }
  .wrapper {
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    margin: 0% 6% 5% 6%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 20px 20px 24px;
    letter-spacing: 0.6px;
    height: 100%;
  }
  .content {
    order: 1;
    width: 100%;
  }
  /* ----------------------------- PAGE 2 ------------------------- */
  .languages {
    order: 1;
    width: 100%;
    height: 30%;
    background: black;
  }
  .coding {
    order: 2;
    width: 100%;
    height: 34%;
    background: rgb(18, 18, 18);
    overflow: hidden;
  }
  .sports {
    order: 3;
    width: 100%;
    height: 36%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .container2 h1 {
    text-align: left;
    font-size: 1.2em;
    padding-left: 10px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 4px solid rgb(0, 255, 255);
    margin: 5% 0 5% 0;
  }
  .filter {
    filter: grayscale(0);
    display: inline;
    transition: ease 0.5s;
  }
  .filter:hover {
    filter: grayscale(0);
  }
  .wrapper2 {
    text-align: center;
    text-justify: auto;
    margin: 0 0 0 0;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    /* padding: 10px 20px 20px 24px; */
    letter-spacing: 2px;
    max-height: 100%;
  }
  .wrapper2:hover {
    background: none;
  }
  .skills-item {
    font-size: 0.9em;
    width: 25%;
    padding: 2% 12% 2% 12%;
    background: none;
    margin: 0 0 0 0;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    /* border-right: 2px solid white; */
  }
  .skills-item:hover {
    color: white;
  }
  .logos {
    width: 60%;
    margin-top: -10%;
    /* Credit for logos svg: https://github.com/BuildFire/sdk/wiki */
  }
  .top {
    background: rgba(27, 27, 27, 0.7);
    right: 16px;
    bottom: 16px;
  }
  .top:hover {
    background: black;
  }
  /* ----------------------------- PAGE 3 ------------------------- */
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .header-menu {
    position: absolute;
    padding: 0.1em;
    display: inline-block;
    right: 10px;
    font-size: 2.5em;
    padding-right: 3%;
    color: rgba(255, 255, 255, 0.7);
    cursor: s-resize;
  }
  nav {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    /* Optionally, we animate the drawer. */
    transition: transform 0.6s ease;
    background: rgba(0, 0, 0, 0.9);
  }
  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  nav li {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
    padding: 12% 0 12% 0;
  }
  nav li:hover {
    color: rgb(0, 247, 255);
  }
  .home-head {
    width: 100%;
    order: 1;
    min-height: 30%;
  }
  .content {
    width: 100%;
    order: 2;
    min-height: 70%;
  }
  .intro-text h1 {
    font-size: 6em;
    margin: 5% 0 0 0;
  }
  .wrapper {
    margin: 0;
    height: 100%;
  }
  .content-head {
    margin: 1% 16% 0% 16%;
  }
  .content-text {
    margin: 1% 16% 4% 16%;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
  }
  .container2 h1 {
    margin-top: 50%;
  }
}

/* Laptop */
@media screen and (min-width: 1300px) {
  .home-head {
    width: 550px;
    margin-left: auto;
  }
  .content {
    width: 550px;
    margin-right: auto;
  }
  .wrapper {
    margin: 30% 20% 5% 8%;
  }
  .intro-text h1 {
    font-size: 8em;
    margin: 35% 0 0 0;
  }
  .intro-text h2 {
    font-size: 1.2em;
    margin: -5% 0 0 2%;
  }
}
